<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
  <!-- email  -->
  <label for="email">Email:</label>
  <input type="text" id="email" formControlName="email" />
  <app-form-error
    [control]="registerForm.get('email')"
    fieldName="Email"
  ></app-form-error>
  <!-- name  -->
  <label for="name">name:</label>
  <input type="name" id="name" formControlName="name" />
  <app-form-error
    [control]="registerForm.get('name')"
    fieldName="name"
  ></app-form-error>

  <label for="user-image">Avatar:</label>
  <input
    formControlName="imageUrl"
    placeholder="Image URL"
    class="file-input"
    type="file"
    id="product-image"
    name="product-image"
    accept="image/*"
    (change)="this.onFileChange($event)"
  />
  @if(imagePreview){
  <p>Preview:</p>
  <img [src]="imagePreview" alt="Preview" width="200" />
  }

  <label for="password">Password:</label>
  <input type="password" id="password" formControlName="password" />
  <app-form-error
    [control]="registerForm.get('password')"
    fieldName="Password"
  ></app-form-error>

  <button type="submit" [disabled]="registerForm.invalid">Register</button>
</form>
